* {
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #3477f2;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ffffff;
  }
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
a:focus,
a:active {
  outline: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
}
div:focus {
  outline: none;
}
.block {
  display: block;
}
.pointer {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.bg-fff {
  background-color: #fff;
}
.of {
  overflow: hidden;
}
.pl-5 {
  padding-left: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.center {
  margin: 0 auto;
}
.t-center {
  text-align: center;
}
.t-justify {
  text-align: justify;
}
.t-right {
  text-align: right;
}
.t-nowrap {
  overflow: hidden;
  white-space: nowrap;
}
.t-ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bold {
  font-weight: bold;
}
.c-333 {
  color: #333;
}
.c-666 {
  color: #666;
}
.c-fff {
  color: #fff;
}
.c-3477F2 {
  color: #3477f2;
}
.border-t {
  border-top: 1px solid #dedede;
}
.border-r {
  border-right: 1px solid #dedede;
}
.border-b {
  border-bottom: 1px solid #dedede;
}
.border-l {
  border-left: 1px solid #dedede;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-align-center {
  align-items: center;
}
.flex-align-bottom {
  align-items: flex-end;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-around {
  justify-content: space-around;
}
.flex-content-end {
  justify-content: flex-end;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
